/* CSS Reset:http://meyerweb.com/eric/tools/css/reset/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video{
 margin:0;
 padding:0;
 border:0;
 font:inherit;
 font-size:100%;
 vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{
 display:block
}
ol,ul{
 list-style:none
}
blockquote,q{
 quotes:none
}
blockquote:before,blockquote:after,q:before,q:after{
 content:''
}
table{
 border-collapse:collapse;
 border-spacing:0
}
input::-ms-clear, textarea::-ms-clear {display:none}
/* Lightweight 0.0.1 */
html{
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box;
 font-size:62.5%;
 height:100%
}
*, *:before, *:after{
 box-sizing:inherit;
 -webkit-box-sizing:inherit;
 -moz-box-sizing:inherit;
 font:inherit
}
body{
 background:#f6f6f6;
 color:#111;
 letter-spacing:.1px;
 font:normal normal 500 14px/28px Verdana,Arial,Helvetica,sans-serif;
 height:100%;
 min-width:320px;
 word-spacing:.8px;
 text-shadow:none;
 text-rendering:optimizeLegibility;
 font-smooth:always;
 -webkit-overflow-scrolling:touch;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:grayscale;
 -ms-text-size-adjust:100%;
 -webkit-text-size-adjust:100%;
}
.page{
 min-height:100%;
 min-width:300px;
 margin-bottom:20px
}
.row, .nav, .nav > .container, .footer.container, .left, .right, .center, .h-align,.v-align,ul.pagination{
 display:flex;
 flex-direction:row;
 flex-wrap:wrap
}
.container{
 width:100%;
 max-width:1346px;
 margin:0 auto
}
.footer{
 border:1px solid #ddd;
 border-top:5px solid #147efb;
 background:#fff;
 padding:10px
}
.row{
 padding:15px;
 width:100%;
 justify-content:flex-start;
 align-items:flex-start;
}
.row > * {
 flex:1 1 100%
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
 flex:1 1 auto
}
.col-12{
 width:100%
}
.col-11{
 width:91.66%
}
.col-10{
 width:83.33%
}
.col-9{
 width:75%
}
.col-8{
 width:66.66%
}
.col-7{
 width:58.33%
}
.col-6{
 width:50%
}
.col-5{
 width:41.66%
}
.col-4{
 width:33.33%
}
.col-3{
 width:25%
}
.col-2{
 width:16.66%
}
.col-1{
 width:8.33%
}
p{
 margin:0 auto 1.3rem
}
p:last-child{
 margin:0 auto
}
/* Text */
code,kbd,pre,samp{
 font-family:"Courier New", Courier, monospace
}
pre{
width:100%;
overflow:auto;
overflow-y:hidden;
border:1px solid #ddd;
padding:10px
}
pre,code{
 font-size:93%;
 background:#000;
 color:#fff;
 border-radius:5px;
}
code{
 padding:2px 8px
}
a,a:link{
 color:#0073e5;
 text-decoration:none
}
a:visited{
 color:#609;
}
a:hover{
 text-decoration:underline solid #609
}
h1,h2,h3,h4,h5,h6{
 font-family:Tahoma, Geneva, sans-serif;
 margin-bottom:.7rem;
 font-weight:600;
 line-height:1.5
}
h1{
 font-size:4.5rem
}
h2{
 font-size:3.4rem
}
h3{
 font-size:2.4rem
}
h4{
 font-size:1.8rem
}
h5{
 font-size:1.5rem
}
h6{
 font-size:1.2rem
}
.big{
 font-size:125%;
 line-height:1.7
}
.small,small{
 font-size:84%
}
b,strong,.strong{
 font-weight:bolder
}
em,dfn,.italic{
 font-style:italic
}
mark{
 background:#ff0;
 color:#000
}
abbr[title]{
 text-decoration:underline dotted
}
sub,sup{
 font-size:85%;
 line-height:0;
 position:relative;
 vertical-align:baseline
}
sub{
 bottom:-0.25em
}
sup{
 top:-0.75em
}
img{
 image-rendering:crisp-edges;
 border:0
}
hr{
 border:0;
 margin:1rem auto;
 height:1px;
 border-bottom:1px solid #ddd
}
/* Navbar */
.nav{
 background:#000;
 color:#fff;
 height:50px;
 line-height:50px;
 margin:0 auto 2rem
}
.nav-fixed{
 position:fixed;
 top:0;
 left:0;
 right:0;
 z-index:10001
}
.nav-brand{
 min-width:50px;
 max-width:250px;
 flex:1 1 initial
}
.nav-brand h1{
 color:#fff;
 font-size:1.7rem;
 line-height:50px;
 padding:0 10px
}
.nav-search{
 flex:1 1 auto;
 padding:0 20px
}
.nav-link{
 min-width:50px;
 flex:1 1 initial;
 margin-left:auto;
 text-align:right
}
.nav-link a{
 display:inline-block;
 color:#fff;
 padding:0 10px
}
.nav-link a:hover,.nav-brand a:hover{
 background:rgba(255,255,255,0.27);
 text-decoration:none
}
/* Breadcrumb */
.breadcrumb{
 margin:0
}
.breadcrumb>li{
 display:inline-block;
 margin:0
}
.breadcrumb>li>a{
 color:#000;
 text-decoration:none;
 display:inline-block
}
.breadcrumb>li:last-child,.breadcrumb>li:last-child>a{
 color:#aaa
}
.breadcrumb>li:not(:last-child)::after{
 color:#c5c5c5;
 content:" >";
 padding:0 5px
}

/* Responsive Media */
.img-responsive{
 display:block;
 height:auto;
 max-width:100%;
 margin:.5rem 0
}
.img-responsive img{
 width:100%
}
.video-responsive{
 height:0;
 overflow:hidden;
 padding-bottom:56.25%;
 padding-top:3rem;
 position:relative;
 margin-bottom:3rem;
}
.video-responsive iframe,.video-responsive object,.video-responsive embed{
 height:100%;
 left:0;
 position:absolute;
 top:0;
 width:100%
}
.video-responsive video{
 height:auto;
 max-width:100%;
 width:100%
}
.video-responsive-4-3{
 padding-bottom:75%
}
/* Tables */
table{
 table-layout:fixed;
 text-align:left;
 width:100%;
 margin-bottom:2.5rem
}
table thead{
 font-weight:600;
 border-bottom:3px solid #ddd
}
th,td {
 word-wrap:break-word
}
table tbody tr:hover{
 background:#cfd8dc
}
table th,table td{
 border-bottom:1px solid #ddd;
 padding:10px
}
.table-striped tbody tr:nth-of-type(odd){
 background:#ededed
}
/* Blockquote */
blockquote{
 border-left:.6rem solid #aaa;
 margin:.7rem 0;
 padding:1rem
}
blockquote p{
 margin:0 0 1rem
}
blockquote cite{
 color:#b3b3b3;
 font-style:italic
}
blockquote cite:before{
 content:' - '
}
/* Pagination */
ul.pagination{
 list-style-type:none;
 margin:0 0 1rem
}
.pagination li:first-child a{
 border-top-left-radius:5px;
 border-bottom-left-radius:5px
}
.pagination li:last-child a{
 border-top-right-radius:5px;
 border-bottom-right-radius:5px;
 border-right:1px solid #ddd
}
.pagination li a{
 color:#000;
 border:1px solid #ddd;
 border-right:0;
 padding:8px 13px
}
.pagination li a.active{
 background:#147efb;
 color:#fff;
 cursor:not-allowed
}
.pagination li a:hover:not(.active){
 background-color:#147efb;
 color:#fff;
 text-decoration:none
}
/* Lists */
ul,ol{
 margin:10px;
 padding:0
}
ul ul,ol ul,ul ol,ol ol{
 margin:0 0 0 25px
}
ul{
 list-style:disc inside
}
ul ul{
 list-style-type:circle
}
ol{
 list-style:decimal inside
}
ol ol{
 list-style-type:lower-alpha
}
dl dt{
 font-weight:bold
}
dl dd{
 margin:2px 0 10px 20px
}
.v-list{
 list-style:none;
 margin:0;
 padding:0 0 0 10px
}
.v-list>li{
 display:block;
 padding:3px
}
.h-list{
 margin:0;
 list-style-type:none
}
.h-list>li{
 display:inline;
 padding:0 0 0 15px
}
/*Forms */
fieldset{
 position:relative;
 margin:1em 0;
 border:1px solid #ddd;
 border-radius:5px
}
label{
 font-size:1.4rem;
 padding-left:4px;
 cursor:pointer
}
legend{
 padding:10px;
 margin:0 0 0 10px
}
.input-group{
 padding:0 15px 15px
}
textarea{
 resize:vertical
}
optgroup{
 padding:10px 0 0
}
input,button,option,textarea,select{
padding:5px 10px;
}
input,textarea,select{
min-height:44px;
border:1px solid #ddd;
box-shadow:1px 1px 1px #ddd;
border-radius:5px;
margin:0 0 7px;
outline:0;
width:100%
}
input:focus,textarea:focus,select:focus{
border:1px solid #147efb;
box-shadow:0 0 12px #147efb
}
input:disabled,textarea:disabled,select:disabled{
 background:#f1f1f1;
 cursor:not-allowed
}
select[multiple],select[size]{
 height:auto
}
input[type=file],input[type=color],input[type=range],input[type=color]:focus,input[type=range]:focus
{
 background:rgb(0,0,0,0);
 border:0;
 box-shadow:none
}
meter,progress{
 width:100%;
 height:20px;
 margin:10px 0
}
.progress,.progress-bar{
 height:20px;
 background:#eee;
 border:1px solid #ddd;
 border-radius:5px;
 text-align:center
}
.progress-bar{
 background:#00ad45
}
input[type=radio], input[type=checkbox]{
 display:none;
}
input[type=radio] + label:before, input[type=checkbox] + label:before{
 content:"";
 display:inline-block;
 width:15px;
 height:15px;
 vertical-align:middle;
 margin-right:8px;
 background:#ededed;
 box-shadow:inset 0px 2px 2px rgba(0, 0, 0, .3);
 border-radius:8px
}
input[type=checkbox] + label:before{
 border-radius:5px
}
input[type=radio]:checked + label:before,input[type=checkbox]:checked + label:before{
 content:"\2022";
 color:#fff;
 background:#147efb;
 font-size:19px;
 text-align:center;
 line-height:13px;
 box-shadow:0px 0px 4px #fff
}
input[type=checkbox]:checked + label:before{
 font-size:14px;
 font-weight:700;
 content:"\2713"
}
input:-moz-read-only,input:read-only{
 background:#ededed
}
.btn,button,input[type=submit],input[type=reset]{
 display:inline-block;
 line-height:17px;
 cursor:pointer;
 white-space:nowrap;
 border:0;
 border-radius:5px;
 color:#fff;
 user-select:none;
 background:#147efb;
 padding:12px 20px;
 width:auto
}
.btn:focus,button:focus{
 outline:none
}
.btn:disabled,button:disabled{
 opacity:.8;
 cursor:not-allowed
}
.btn:hover,button:hover,[type=submit]:hover,[type=reset]:hover{
 opacity:.8
}
.btn-full{
 font-size:18px;
 padding:20px 0;
 cursor:pointer;
 font-weight:700;
 width:100%;
 margin:10px 0 20px
}
a.btn{
 color:#fff
}
a.btn:hover{
 text-decoration:none
}
/* Extras */
.label{
display:inline;
padding:5px 8px;
font-weight:700;
font-size:94%;
background:#147efb;
color:#fff;
white-space:nowrap;
vertical-align:baseline;
border-radius:5px;
}
.alert{
 background:#147efb;
 color:#fff;
 border-radius:5px;    
 padding:10px 15px;
 margin-bottom:10px
}
.close{
 float:right;
 font-size:2rem;
 cursor:pointer;
 transition:.3s
}
.close:hover{
 color:#000
}
.badge{
 background:#fc3d39;
 color:#fff;
 border-radius:17px;
 display:inline;
 font-size:12px;
 font-weight:700;
 min-width:15px;
 padding:2px 7px 3px;
 text-align:center;
 vertical-align:middle;
 white-space:nowrap;
 margin-left:8px
}
/* Utilities */
.right{
 justify-content:flex-end;
 margin-left:auto
}
.left{
 justify-content:flex-start;
 margin-right:auto
}
.text-left{
 text-align:left
}
.text-right{
 text-align:right
}
.text-center{
 text-align:center
}
.text-justify{
 text-align:justify
}
.text-invisible{
 font:0/0 a;
 text-indent:100%;
 white-space:nowrap;
 overflow:hidden
}
.fullscreen{
 width:100%;
 min-height:100vh
}
.v-align{
 flex-direction:column;
 align-items:center;
 justify-content:center
}
.h-align{
 flex-direction:row;
 justify-content:center;
 align-items:center
}
.center{
 align-items:center;
 justify-content:center
}
.hide{
 display:none
}
.show{
 display:block
}
.invisible{
 visibility:hidden
}
.visible{
 visibility:visible
}
.noborder{
 border:0
}
.nomargin{
 margin:0
}
.nopadding{
 padding:0
}
.margin20{
 margin:20px
}
.nobackground{
 background:none
}
.clearfix::after{
 display:table;
 clear:both;
 content:''
}
.clear{
 background:transparent;
 color:#111
}
.primary{
 background:#777
}
.danger{
 background:#fc3d39
}
.warning{
 background:#fd9426
}
.success{
 background:#00ad45
}
@-ms-viewport{
 width:device-width
}
@-o-viewport{
 width:device-width
}
@viewport{
 width:device-width
}
@-ms-viewport{
 width:device-width
}
/* Search */
.search{
 display:flex;
 font-size:1.3rem
}
.search>input,.search>button{
 min-height:32px;
 height:32px;
 line-height:24px;
 margin:9px 0;
 box-shadow:none;
 border:1px solid #147efb
}
.search>input:focus{
 box-shadow:0 0 3px 2px rgba(255,255,255,.5);
}
.search>input{
 outline:none;
 padding:3px 5px;
 border-radius:5px;
 border-top-right-radius:0;
 border-bottom-right-radius:0;
 border-right:0
}
.search>button{
 padding:2px 10px;
 border-radius:5px;
 border-top-left-radius:0;
 border-bottom-left-radius:0;
 border-color:#147efb
}
.search>button:hover{
 opacity:1
}
/* 1440px */
@media screen and (max-width:90em){html{font-size:60.5%}}
/* 1366px */
@media screen and (max-width:85.375em){html{font-size:58.5%}}
/* 1280px */
@media screen and (max-width:64em){html{font-size:57%}}
/* 960px */
@media screen and (max-width:60em){html{font-size:55%}}
/* 768px */
@media screen and (max-width:48em){html{font-size:52%}
.nav-search{
 display:none
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
 width:100%
}
}
/* 480px */
@media screen and (max-width:30em){html{font-size:50%}}